
*{

	box-sizing: border-box;
	margin: 0;
	padding: 0;
}	
	h1{
		text-align: left;
	}

form{
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 10px;
	font-size: 16px;
	box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
}
input{
	display: inline-block;
	width: 100%;
	font-size: 16px;
	padding: 5px;
	border: 1px solid #cccccc;
	border-radius: 5px;
}
input:focus {
  outline: none;
  border-color: #bfbfbf;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.wrapper{
	margin: 10px 0px;
}
.border-top{
	border: 1px solid #cccccc;
	margin-top: 10px;
	padding-top: 10px;
}
select{
	display: inline-block;
	width: 100%;
	font-size: 16px;
	padding: 5px;
	border: 1px solid #cccccc;
	border-radius: 5px;
}
select:focus {
  outline: none;
  border-color: #bfbfbf;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.radio{
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.radio label{
	display: inline-block;
	margin-right: 10px;
}	
button {
	display: inline-block;
	width: 100%;
	background-color: #cccccc;
	border: 1px solid #b3b3b3;
	font-size: 16px;
	padding: 5px;
	margin: 10px;
	border-radius: 5px;
	cursor: pointer;
	margin-right: auto;
	margin-left: auto;
}
button:hover {
  opacity: .8;
}
.checkbox {
	margin-top: 10px;
	text-align: left;
	margin-right: auto;
	display: inline-block;
}
textarea{
	display: block;
	width: 100%;
	font-size: 16px;
	padding: 5px;
	border: 1px solid #cccccc;
	border-radius: 5px;
}
textarea:focus {
  outline: none;
  border-color: #bfbfbf;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
