header{
	background-image: url(Layer15.jpg);
	height: 550px;
	width: 100%;
 }
 .header-content{
	display: inline;
 	font-size: 20px;
 	color: #fff;
 	padding-left: 360px;
 	padding-top: 25px;
 }
 .wrapper-header-content-item{
 	display: flex;
	flex-wrap: nowrap;
	margin-left: 50%;
 }
.header-content-item{
	display: inline;
	font-size: 16px;
	color: #fff;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 25px;
}
.creativ{
	font-size: 35px;
	color: #fff;
	text-align: center;
	margin-top: 60px;
}
.welcome{
	font-size: 60px;
	color: #fff;
	text-align: center;
}
.button-first{
	width: 200px;
	height: 50px;
	background-color: rgba(0,0,0,0);
	font-size: 28px;
	margin-top: 40px;
	text-align: center;
}
.progress-bar-all{
	margin-top: 25px;
	font-size: 25px;
	color: #fff;
}
.story{
	text-align: center;
	font-size: 25px;
}
.we-do{
	margin-top: 10px;
	margin-bottom: 10px;
	color: #000;
}
.story-content{
	color: #00f;
	font-size: 20px;
	text-align: center;
	margin-top: 20px;
}
.img-story{
	display: inline-block;
	padding-bottom: 110px;
}
.counter{
	height: 275px;
	background-color: #95e1d3;
	width: 100%;
}
.work{
	height: 390px;
	margin-top: 100px;
	width: 1200px;
}
.work-content{
	text-align: center;
	font-size: 16px;
	color: #000;
}
.amazing{
	text-align: center;
	font-size: 25px;
	color: #000;	
}
.work-block{
	margin-top: 40px;
	margin-bottom: 40px;
}
.work-content-second{
	width: 33%;
	display: inline-block;
}
.devices{
	background-image: url(Layer45.jpg);
	height: 700px;
	width: 100%;
	text-align: center;
}
.devices-content{
	padding-top: 100px;
}
.servise{
	height: 700px;
}
.servise-content{
	text-align: center;
	margin-top: 100px;
}
.servise-img{
	padding-top: 50px;
}
.servise-float{
	float: right;
	padding-right: 95vh;
}
.jon{
	background-color: #f8f8f8;
}
.block{
	width: 150px;
	height: 150px;
	border: 3px solid #95e1d3;
}
.jon__float{
	float: right;
}
.meat{
	padding-top: 100px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
.team,{
	font-size: 20px;
}
.lorem-meat,{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}
.image-first,.image-second,.image-third{
	display: inline-block;
	text-align: center;
	width: 33%;
}
.sprite{
	text-align: center;
	margin-top: 125px;
	background-color: #f8f8f8;
	height: 250px;
}
.our-work{
	padding-top: 100px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
.our-work-item{
	font-size: 25px;
}
.our-work-content{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}
.image-hover-center
{
	width: 24.7%;
}
.image-hover{
	width: 49%;
	display: inline-block;
}
.image-hover-main{
	width: 50%;
	float: left;
}
.image-hover-next{
	width: 25%;
	float: right;
}
.img__inter{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 100px;
}
.inter{
	margin-top: 45px;
	float: right;
	width: 70%;
}
.clients{
	background-image: url(Layer53.jpg);
	width: 100%;
	height: 830px;
	text-align: center;
}
.happy-clients{
	font-size: 20px;
	padding-top: 70px;
}
.what{
	font-size: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.all__people{
	padding-top: 50px;
}
.people-img{
	width: 49%;
	display: inline-block;
	margin-top: 60px;
	margin-bottom: 60px;
}
.people{
	float: right;
	text-align: left;
	width: 70%;
	margin-top: 15px;
}
.our__stories{
	text-align: center;
	padding-bottom: 15px;
}
.figure_block{
	display: block;
	width: 60px;
	height: 75px;
	background-color: #95e1d3;
	color: #fff;
	text-align: center;
}
.figure{
	display: inline-block;
	width: 30%;
	padding: 15px;
	margin: 0;
}
.map{
	height: 200px;
	background-image: url(Layer59.jpg);
	color: red;
	text-align: center;
	font-size: 30px;
	padding-top: 80px;
}
.mogo{
	height: 500px;
}
.mogo-first{
float: left;
margin-left: 30px;
}
.mogo-big{
	font-size: 70px;
	color: #cccccc;
	height: 75px;
	margin-top: 75px;
}
.mogo-content{
	color: #cccccc;
	font-size: 20px;
	width: 40%;
	line-height: 2;
	margin-top: 45px;
	border-bottom: 1px solid #CCC;
}
.input{
	width: 230px;
	height: 40px;
}
.button{
	width: 150px;
	height: 40px;
	background-color: #95e1d3;
	color: #fff;
}
.mogo-center{
	float: right;
}
.mogo-instagram{
	width: 25%;
}



