.header{
	display: inline;
	height: 67px;
	width: 100%;
	background-color: #fff;
	font-size: 16px;
}
.header>div{
	display: inline;
}
.header-left>div{
	display: inline;
}
.header-right>div{
	display: inline;
}