.slick-arrow{
background-image: url("img/space-monitor-multi-dual-screen-nature-wallpaper-hd-iphone-6-1920x1024.jpg");
}
.carousel-item{
	background-image: url("img/space-monitor-multi-dual-screen-nature-wallpaper-hd-iphone-6-1920x1024.jpg");
	color: #fff;
	height: 100px;

	text-align: center;
	font-size: 45px;
	padding-top: 65px;
}