a{
	color: #000;
	border: 1px solid #000;
	font-size: 16px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	width: 140px;
	padding: 10px;
	font-family: sans-serif;
	transition: color .2s ease-in-out;
	position: relative;
}

a:hover{
	color: #fff;
}
span{
	position: relative;
	display: inline-block;
	z-index: 2;
}
a::before{
	content: "";
	position: absolute;
	width: 60%;
	height: 100%;
	top: 0;
	left: 50%;
	background-color: #000;
	transition: 
		opacity .2s ease-in-out,
		width .2s ease-in-out;
	transform: translateX(-50%);
	opacity: 0;
}
a:hover::before{
	opacity: 1;
	width: 100%;
}