*{
	padding: 0;
	margin: 0;
}
.header{
	display: flex;
	position: fixed;
	background-color: #02918c;
	width: 100%;
	height: 60px;
	align-items: center; 
}
.my,.folio{
	font-size: 20px;
	display: inline-block;
}
.my{
	color: #FFFFFF;
	padding-left: 50px;
}
.folio{
	color: #cfc91d;
}
.hover{
	display: inline-block;
	color: #fff;
	margin-right: 25px;
	margin-left: 25px;
}
.hover:hover{
	background-color: green;
}
.header-left{
	display: flex;
	flex-wrap: nowrap;
	margin-left: 50%;
}
.header-main{
	width: 100%;
	height: 730px;
	display: inline-block;
}
.lorem-first{
	color: #fff;
	text-align: center;
	background-image: url(Image.png);	
	background-size: 100%;
	min-height: 55vh;	
	padding-top: 20%;
	line-height: 1.5em;
		}
.transform{
	color: #fff;
	font-size: 150px;
	transform: rotate(270deg);
	margin-top: 25px;
}
.button-first{
	width: 200px;
	height: 50px;
	background-color: #cfc91d;
	font-size: 28px;
	color: #000;
}
.about{
	display: inline-block;
	background-color: #FFFFFF;
	width: 100%;
	height: 740px;
	padding-top: 100px;
}
	.about-content{
		color: #02918c;
		text-align: center;
		font-size: 35px;
	}
	.content{
		font-size: 25px;
		text-align: center;
		width: 65%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		color: #7e8287;
	} 
	.block,.block-one{
	display: inline-block;
	height: 255px;	
	font-size: 25px;
	text-align: center;
	}
.min-block{
	font-size: 18px;
	margin-top: 10px;
	width: 55%; 
	margin-left:auto;
	margin-right: auto;
}
.block{
	width: 24.6%;
	border-right: 1px solid #7e8287;
}
.block-one{
	width: 24.6%;
}

.services{
	display: inline-block;
	background-color: #f0f0e8;
	width: 50%;
	height: 730px;
	font-size: 100px;
	color: #02918c;
}
.servise-image{
	background-image: url(Image4.jpg);
	background-size: 100%;
}
.lorem-servise{
	font-size: 30px;
}
.block-servise{
	display: inline-block;
	width: 47%;
	height: 180px;
	font-size: 15px;
	color: #7e8287;
}
.work{
	background-color: #fff;
	display: inline-block;
	width: 100%;
	height: 350px;
	font-size: 60px;
	color: #02918c;
	text-align: center;
	margin-top: 50px;
}
.wrapper-work{
	width: 50%
	margin-left:auto;
	margin-right: auto;
}
.images{
	display: inline-block;
	width: 100%;
	height: 480px;
}
.form{
	display: inline-block;
	background-color: #0b0b0b;
	width: 100%;
	height: 560px;
	font-size: 0px;
}
.footer{
	background-color: #000;
	width: 100%;
	height: 70px;
	color: #fff;
}









a{
	width: 25%;
	position: relative;
	display: block;
	float: left;
}

img{
	vertical-align: middle;
	width: 100%;
	min-height: 238px;
	background-color: rgba(2, 145, 140, 0.85);
}
.info{
	position: absolute;
	bottom: 20px;
	top: 20px;
	left: 28px; 
	right: 28px; 
	background-color: rgba(2, 145, 140, 0.85);
	display: none;
}
.info:hover{
position: absolute;
bottom: 20px;
top: 20px;
left: 28px; 
right: 28px; 
background-color: rgba(2, 145, 140, 0.85);
}





.form{
  margin: 10px auto;
  border: 1px solid #ccc;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;

}